@media screen and (max-width: 1394px) {
    .dropdown-position {
        height: 39px;
        position: relative;
        right: 5px;
        top: 1px;
    }
    .dropdown-menu {
        position: absolute;
        bottom: 37px;
        left: 145px;
    }
    .col-lg-4 {
        margin: 40px 0px;
    }
    .col-lg-4 img {
        position: relative;
        left: 6vw;
    }
    .trainer-name {
        position: relative;
        left: -1vw;
        display: flex;
        justify-content: center;
    }
    .read-more-btn {
        display: flex;
        justify-content: center;
    }
    /* OUR BLOGS
    .card img{
        width: 27vw;
    } */
    /* CONTACT */
    /* .contact-form {
        height: 600px;
    } */
    .information {
        bottom: 463px;
        left: 55vw;
    }
}

@media screen and (max-width: 991px) {
    .content {
        margin-top: 65px;
    }
    /* ABOUT */
    .trainer-name {
        display: flex;
        justify-content: center;
    }
    .col-lg-4 img {
        position: relative;
        left: 30vw;
    }
    /* CATEGORIES */
    .all-cards-c {
        display: flex;
        flex-direction: column;
    }
    .card-text-c {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .card-c {
        margin: 13px -9px;
    }
    /* OUR BLOGS */
    .part-one-blogs, .part-two-blogs {
        margin: 35px -8vw;
    }
    .contact-form {
        height: 900px;
    }
    .m-form {
        position: relative;
        left: 20vw;
        width: 51vw;
    }
    .m-form-box-2 {
        padding: 16px 4px;
        margin: 4px 17px;
    }
    .m-form-box-3 {
        margin: 13px 0px;
        position: relative;
        left: 20vw;
    }
    .m-form-box-1, .m-form-box-2, .m-form-box-3 {
        width: 50vw;
        margin: 0px;
    }
    .information {
        /* position: relative; */
        top: 8vh;
        left: 25vw;
        display: flex;
        /* justify-content: center; */
    }
}

@media screen and (max-width: 473px) {
    .Form input {
        width: 72vw;
    }
    /* ABOUT */
    .col-lg-4 img {
        left: 20vw;
    }
    /* CATEGORIES */
    #categories {
        font-size: 35px;
    }
    .all-cards-c {
        display: block;
        margin: 25px 45px;
    }
    .card-c {
        margin: 35px -9px;
    }
    .card-text-c {
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    /* BLOGS */
    .part-one-blogs {
        display: block;
    }
    .part-two-blogs {
        display: none;
    }
    /* CONTACT */
    /* .contact-form{
        height: 148vh;
    } */
    .m-form {
        left: 16vw;
    }
    .m-form-box-3 {
        position: relative;
        left: 9vw;
    }
    .contact-form {
        height: 1000px;
    }
    .information {
        /* position: relative; */
        top: 8vh;
        left: 2vw;
        width: 277px;
        font-size: 14px;
        display: flex;
    }
}

@media screen and (max-width: 400px) {
    /* position: relative; */
    .information {
        left: -41px;
        width: 277px;
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    /* position: relative; */
    .information {
        width: 237px;
    }
}
